<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>joeBlog</title>
</head>
<body>
  <div>
    <h2>Welcome to the About.</h2>
    <p>Go <%= link_to 'Home', welcome_home_path %></p>
  </div>

  <div>
    <h4>About this page</h4>
    <p>Learning some ruby/rails madness</p>
    <img src="http://static.tvtropes.org/pmwiki/pub/images/rsz_funny-fake-train_5551.jpg" alt="train radness">
  </div>
</body>
</html>