
  <div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to "Sign up now!", "#", class: "btn btn-primary btn-lg" %>
  <img class="dopePic"src="http://rndr.juniqe-production.juniqe.com/media/catalog/product/cache/x800/177/128/177-128-101L.jpg" alt="awesome">
  </div>
  <h3>where everything is awesome</h3>
  <div>
    <h4>Beginings</h4>
    <p>It all began with the awesome that was so awesome</p>
  </div>
