<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>joeBlog</title>
</head>
<body>
  <div>
    <h1>Welcome to the homepage.</h1>
    <p>Learn more at: <%= link_to 'About', about_path %></p>
  </div>
  <img src="http://rndr.juniqe-production.juniqe.com/media/catalog/product/cache/x800/177/128/177-128-101L.jpg" alt="awesome">
  <h3>where everything is awesome</h3>
  <div>
    <h4>Beginings</h4>
    <p>It all began with the awesome that was so awesome</p>
  </div>
</body>
</html>